page-search-element {
.text-ios{
    margin-top: 12%;
    margin-left: -11%;
    color:white;
}
.toolbar-title-ios {
    text-overflow: inherit;
    white-space: normal;
    text-align: left;
    font-size:1.3em;
 }
 
.toolbar-title-md {
    text-overflow: inherit;
    white-space: normal;
    text-align: left;
    font-size:1.3em;
 }
}
