page-elementos {
    .divider{
        font-size: 12px;
        color:  #0755ff;

    }
    .segment-ios{
        margin-top: 10%;
    }
    .toolbar-ios{
        padding-top: 28% !important;
    }
    .content-ios{
        margin-top: 4%;
    }
    .toolbar-md{
        padding: 0px;
    }
    img{
        max-width: 50%;
    }
    .toolbar-title-md{
        padding-top: 2%;
    }
}
